<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h1>Botones</h1>
  </mat-expansion-panel-header>
  <ed-material-button></ed-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h1>Campos de texto (Input)</h1>
  </mat-expansion-panel-header>
  <ed-material-input></ed-material-input>

</mat-expansion-panel>

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <h1>Listas</h1>
  </mat-expansion-panel-header>
  <ed-material-list></ed-material-list>

</mat-expansion-panel>

